<li class="list-group-item d-flex">
    <span class="col-4 my-auto">{{TECH_USERNAME}}</span>
    <span class="col-4 my-auto">{{TECH_LOGIN_TIME}}</span>
    <span class="col-3 my-auto">{{TECH_LOGOUT_TIME}}</span>
    <span class="col-1 my-auto">
        <a class="btn btn-primary mx-1 rounded-1 " href="./admin/edit?techId={{TECH_ID}}">
            <i class="bi-pencil"></i>
        </a>
        <button type="button" class="btn btn-danger mx-1 rounded-1" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-techId="{{TECH_ID}}">
            <i class="bi-trash"></i>
        </button>
    </span>
</li>