<div class="container">
    <h3 style="display:inline-block">Ajouter un nouveau technicien</h3>
    <a class="primary mx-2 " href="./admin/create" style="font-size: 1.8em;">
        <i class="bi-plus-circle-fill"></i>
    </a>
</div>

<ul class="list-group container">
    <li class="list-group-item d-flex">
        <span class="flex-grow-1 my-auto">Hard coder comme on dit</span>

        <button type="button" class="btn btn-primary mx-1 rounded-1 " onclick="">
            <i class="bi-pencil"></i>
        </button>
        <button type="button" class="btn btn-danger mx-1 rounded-1" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-whatever="">
            <i class="bi-trash"></i>
        </button>
    </li>
    {{TECHS}}
</ul>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attention</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="modal-text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" onclick="toDelete()" name="supprimer" class="btn btn-danger">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<script>
    var gameData

    var modal = document.getElementById('deleteModal')
    modal.addEventListener('show.bs.modal', function(event) {
        var button = event.relatedTarget
        gameData = JSON.parse(button.getAttribute('data-bs-whatever'))
        console.log(gameData)
        var modalText = modal.querySelector('.modal-text')

        modalText.textContent = 'Voulez-vous vraiment supprimer ' + gameData.nom + '?'

    })

    function toDelete(){
        window.location.href="read.php?gameName=" + gameData.nom
    }

</script>